.footer {
  // padding: 60px 0;
  background-color: $dark-bgc;

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    &__left-side {
      margin-right: 144px;
      // margin-left: 76px;
      // margin: 60px 144px 60px 76px;
      padding: 60px 0;
      text-align: center;
    }
  //   &__center {
 
  // }

  &__center {
    margin-bottom: 60px;
  }

  &__container {
    display: flex;

    @media screen and (max-width: 767.9px) {
      flex-direction: column;
      align-items: center;
      padding: 60px 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.9px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__third-header {
    margin-bottom: 20px;
    text-align: center;
    color: $third-colorFont;
  }
}
}

.address {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  @media screen and (max-width: 768.9px) {
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (max-width: 1199.9px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address-list {
  @media screen and (max-width: 1199.9px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item:nth-child(2) {
    margin: 8px 0;
  }
  @media screen and (min-width: 1200px) {
    &__item:nth-child(2) {
      margin: 9px 0;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $main-color;
    }

    &--white {
      color: $third-colorFont;
      transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

//  Page footer - right side - newsletter

.footer__newsletter {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &:last-child {
      flex-basis: 100%;
    }
  }
}

.newsletter__email {
  width: 91vw;
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $dark-bgc;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &,
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    border-color: $main-color;
  }

  @media screen and (min-width: 1199.9px) {
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
