/* =======   HERO up side ======= */
.hero-up-side {
  background-color: $dark-bgc;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/mobile/bg_hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $third-colorFont;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background/mobile/bg_hero-mobile@2x.jpg);
  }
}
/* ====== END HERO up side ====== */

/* =======   HERO up side ======= */
// .hero-up-side {
//   background-color: $dark-bgc;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/background/bg_hero.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   color: $third-colorFont;
// }
/* ====== END HERO up side ====== */

/* ======   HERO down side ====== */
.hero-list {
  display: flex;
  justify-content: space-between;

  &__item {
    max-width: 270px;
    align-items: center;
  }

  &__icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $grey-bgc;
  }

  &__description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $second-colorFont;
  }
}
/* ====   END HERO down side ==== */
